<div class="welcome-message-isolated">
  <h1 data-test-welcome-message-isolated-title>{{content.title}}</h1>
  <p>
    Get ready to build your first project by reading our
    Guides and Tutorials at
      <a href="https://docs.cardstack.com/release/" target="_blank" rel="noopener noreferrer">
        docs.cardstack.com
      </a>
  </p>
  <p data-test-welcome-message-embedded-title>
    <i>{{content.message}}</i>
  </p>
</div>
