<div class='movie-embedded-view'>
<a class="movie-embedded" href={{cardstack-url content}} >
  <h3 data-test-movie-isolated-title>Title: {{content.title}}</h3>
  <h3 data-test-movie-isolated-title>Year: {{content.year}}</h3>
  <h3 data-test-movie-isolated-title>Genre: {{content.genre}}</h3>
</a>
</div>