{{#cardstack-edges}}
  {{#squishable-container}}
    {{#mock-login as |login|}} <button {{action login}}>Edit Content</button>{{/mock-login}}
    {{outlet}}
  {{/squishable-container}}
{{/cardstack-edges}}