@import "movie-embedded";
@import "movie-isolated";
:root{
    --movie-horror: #EB3223;
    --movie-action: #EF752F;
    --movie-comedy: #71A234;
    --movie-drama: #611CC4;
    --movie-fantasy: #7C9C93;
    --movie-romance: #ED5F9A;
    --movie-mystery: #2D4357;
    --movie-sci-fi: #014CF5;
    --movie-adventure: #C5862E;
  }

.movie-horror {
background-color: var(--movie-horror);
}
.movie-action {
  background-color: var(--movie-action);
}
.movie-comedy {
  background-color: var(--movie-comedy);
}
.movie-drama {
  background-color: var(--movie-drama);
} 
.movie-fantasy {
  background-color: var(--movie-fantasy);
} 
.movie-romance {
  background-color: var(--movie-romance);
}
.movie-mystery {
  background-color: var(--movie-mystery);
}
.movie-sci-fi {
  background-color: var(--movie-sci-fi);
}
.movie-adventure {
  background-color: var(--movie-adventure);
}